#app {
    font-family: ExoBold, Arial, sans-serif;
    padding: 1em 1em 1em 1em;
}

#current-time {
    font-size: 4em;
    text-align: right;
    font-weight: bold;
}

#countdown {
    font-size: 9em;
    text-align: center;
    font-weight: bold;
}

#service-time {
    padding-top: 2em;
    text-align: center;
    display: flex;
}

#service-in-container, #target-time-container, #service-out-container {
    width: 33%;
}

#service-time .label {
    font-size: 1.5em;
}

#service-time .value {
    font-size: 3em;
}

@font-face {
    font-family: ExoBold;
    src: url(./fonts/Exo-Bold.ttf);
}