body {
    margin: 0px;
    height: 100%;
}

#app {
    font-family: ExoBold, Arial, sans-serif;
    color: black;
    padding-left: 5em;
    padding-right: 5em;
    margin: auto;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    block-size: fit-content;
}

#current-time {
    font-size: 4.5em;
    text-align: right;
    font-weight: bold;
}

#countdown {
    padding-top: 10vh;
    padding-bottom: 10vh;
    font-size: 12em;
    text-align: center;
    font-weight: bold;
}

#service-time {
    text-align: center;
    display: flex;
}

#service-in-container, #target-time-container, #service-out-container {
    width: 33%;
}

#service-time .label {
    padding-bottom: 0.5em;
    font-size: 2em;
}

#service-time .value {
    font-size: 4em;
}

.time-container {
    display: flex;
    align-items:center;
    justify-content: center;
}

.time-subcontainer {
    display: flex;
    flex-direction: column;
    align-items:center;
}

.buttons {
    display: flex;
}

.btn {
    cursor: pointer;
    border: unset;
    background:transparent
}

.btn-img {
    width: 1.5em;
}

#service-out {
    padding-top: 0.3em;
}

@media (max-height: 700px) {
    #current-time {
        font-size: 3em;
    }

    #countdown {
        padding-top: 1.5vh;
        padding-bottom: 1.5vh;
        font-size: 8em;
    }

    #service-time .label {
        font-size: 1.5em;
    }

    #service-time .value {
        font-size: 3em;
    }
}

@media (min-width: 2500px) {
    #current-time {
        font-size: 8em;
    }

    #countdown {
        padding-top: 12vh;
        padding-bottom: 12vh;
        font-size: 21em;
    }

    #service-time .label {
        font-size: 4em;
    }

    #service-time .value {
        font-size: 7em;
    }

    .btn-img {
        width: 3.5em;
    }
}

@font-face {
    font-family: ExoBold;
    src: url(./fonts/Exo-Bold.ttf);
}
